<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">UniADS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    {{#if logado}}
      <div class="">
          <a href="/lista_notas"><button type="button" class="btn btn-outline-light me-2">Listagem de notas</button></a>
          <a href="/add_notas"><button type="button" class="btn btn-outline-light me-2">Adicionar notas</button></a>
      </div>
      <div class="flex-shrink-0 dropdown ms-auto">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">
           Olá, {{user}}
          </a>
          <ul class="dropdown-menu text-small shadow" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 34.4px, 0px);" data-popper-placement="bottom-end">
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">logout</a></li>
          </ul>
        </div>
      {{else}}
      <div class="ms-auto">
          <a href="/login"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
          <a href="/cadastro"><button type="button" class="btn btn-warning">Cadastre-se</button></a>
      </div>
    {{/if}}
    </div>
  </div>
</nav>