<form action="/add_concluido" method="POST">
    <p>Aluno </p>
    <input type="text" name="aluno">

    <p>Disciplina:</p>
    <input type="text" name="disciplina">

    <p>AV1: </p>
    <input type="text" name="av1">

    <p>AV2: </p>
    <input type="text" name="av2">

    <button type="submit">Enviar</button>

</form>