{{#if nova_nota}}
<div class="alert alert-success mx-auto mt-4" role="alert" style="max-width: 500px;" >
  <div style="text-align: center;">
    {{nova_nota}}
  </div>    
</div>
{{/if}}

<div class="card mx-auto mt-4" style="max-width: 28rem; box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.259);">
    <div class="card-body">
        <h1>Adicionar notas:</h1>
        <hr>
        <form action="/add_concluido" method="POST">
            <div class="mb-3">
                <p class="form-label">Aluno:</p>
                <input class="form-control" type="text" name="aluno" pattern="^[A-Za-z]{2,}\s[A-Za-z]{2,}$" placeholder="nome e sobrenome" required>
            </div>
            <div class="mb-3">
                <p class="form-label">Disciplina:</p>
                <select name="disciplina" class="form-control" required>
                        <option></option>
                        <option>Back-end</option>
                        <option>Front-end</option>
                        <option>Banco de dados</option>
                        <option>Java POO</option>
                        <option>Desenvolvimento mobile</option>
                </select>
            </div>
            <div class="mb-3">
                <p class="form-label">AV1: </p>
                <input class="form-control" type="text" name="av1" required maxlength="4" oninput="validarInput(this)" placeholder="00.0 - 10.0" pattern="^(10(\.0)?|0[0-9](\.)[0-9])$">

            </div>
            <div class="mb-3">
                <p class="form-label">AV2: </p>
                <input class="form-control" type="text" name="av2" required maxlength="4" oninput="validarInput(this)" placeholder="00.0 - 10.0" pattern="^(10(\.0)?|0[0-9](\.)[0-9])$">
            </div>
            <br>
            <div style="text-align: center;">
            <button class="btn btn-success" type="submit" >Enviar</button>
            </div>
        </form>
    </div>
</div>

{{!-- <script>
    function validarInput(input) {
        // Impedir caracteres inválidos
        input.value = input.value.replace(/[^0-9,.]/g, ''); // Permitindo números, ponto e vírgula
        input.value = input.value.replace(/,/g, '.'); // Substituindo vírgulas por pontos
    }
</script> --}}

