<form id="formulario_cad" action="/cad_concluido" method="post">
                    <div id="titulo" class="">
                        <label class="form-label">Cadastre-se</label>
                    </div>
                    <div>
                        <input name="nome" type="name" class="form-control" placeholder="Digite seu nome e sobrenome" autocomplete="on" pattern="^[A-Za-z]{2,}\s[A-Za-z]{2,}$" required>
                    </div>
                    <div>
                        <input name="email" type="email" class="form-control" id="email_cad" placeholder="Digite seu Email" autocomplete="on" required>
                    </div>
                    <div>
                        <input type="email" class="form-control" id="email_conf" placeholder="Confirme seu email" autocomplete="on" required>
                    </div>
                    <div>
                        <input name="senha" type="password" id="senha_cad" class="form-control" placeholder="Digite sua senha" required>
                    </div>
                    <div>
                        <input type="password" id="" class="form-control" placeholder="Confirme sua senha">
                    </div>
                    <div>
                        <input name="cpf" type="" id="" class="form-control" placeholder="Digite seu CPF">
                    </div>
                    {{!-- <div>
                        <input id="check_cad"  type="checkbox" style="margin-top: 15px;" >
                        <a href="#" style="margin-left: 5px;">Aceita os nossos termos e condições</a> 
                    </div> --}}
                    <div style="text-align: center; margin-top: 10px;">
                    <a href=""><button type="submit" id="bnt_form" class="btn btn-danger" >confirmar </button></a>
                    </div>
</form>