{{#if error}}
<div class="alert alert-danger mx-auto mt-4" role="alert" style="max-width: 500px;" >
  <div style="text-align: center;">
    {{error}}
  </div>    
</div>
{{else}}
    {{#if cadastrado}}
    <div class="alert alert-success mx-auto mt-4" role="alert" style="max-width: 500px;" >
        <div style="text-align: center;">
            {{cadastrado}}
        </div>    
    </div>
{{/if}} 
{{/if}}

<div class="card mx-auto mt-4" style="width: 28rem; box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.259);">
    <div class="card-body">
        <h1>Login</h1>
        <hr>
        <form action="/login_concluido" method="post">
            <div class="mb-3">
                <p class="form-label">Email:</p>
                <input class="form-control" name="login" type="email" placeholder="email@mail" required>
            </div>
            <div class="mb-3">
                <p class="form-label">Senha:</p>
                <input class="form-control" name="senha" type="password" placeholder="digite sua senha" required>
            </div>
            <br>
            <div style="text-align: center;">
                <button class="btn btn-dark">login</button>
            </div>
        </form>
    </div>
</div>